*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffbfb;
    font-family: sans-serif;
}


/*------la banierre-------*/
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center;
}

.hero h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.police-nunito {
    font-family: "Nunito", sans-serif;
}
.touche i {
    color: #f8cd0b;
}

.touche:hover {
    background-color: #f8cd0b;
    transition: background-color 0.3s ease;
    color: #fff;
}
  
.touche:hover i {
    color: #fff;
}

.police-pacifico {
    font-family: "pacifico", cursive;
}

.active-perso {
    border:none;
    border-bottom: 2px solid var(--bs-primary);
    border-radius: 0;
    background: transparent;
}

.hover-image {
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.icons {
   opacity: 0;
}

.icone {
    font-size: 1.5rem;
    padding: 20px;
}

.over-card:hover .icons {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.over-card:hover .hover-image {
   width: 180px;
   height: 180px;
    transition: 0.3s ease-in-out;
}

.rong-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.vidéo{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/imgv.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center;
    padding: 250px 0 0 0;
}

.rond-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0;
    background-color:#101120be;
}

footer {
    background-color: #1b2835;
    color: white;
    padding: 20px 0;

}


@media (min-width: 1000px) {
    .fixed-lg-top {
        background-color: transparent;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
    }
    .fixed-lg-top a {
        color: #fff;
        font-weight: 600;
    }

    .img-rotation {
        width: 450px;
    }
}


@media (max-width: 768px) {
    .img-rotation {
        width: 350px;
    }
}

/*Pour faire roter notre images */
.img-rotation {
    animation: rotate 60s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
    